<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
  
  <!-- liyh.log file -->
  <appender name="B2B_FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="mylog.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c - %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
    <!-- 屏蔽json-lib产生的日志 -->
    <filter class="org.apache.log4j.varia.StringMatchFilter">
        <param name="StringToMatch" value="has no write method. SKIPPED." />
        <param name="AcceptOnMatch" value="false" />
    </filter>
    <filter class="org.apache.log4j.varia.StringMatchFilter">
        <param name="StringToMatch" value="Tried to assign property" />
        <param name="AcceptOnMatch" value="false" />
    </filter>
  </appender>
  <!-- liyh.log file -->
  
  <!-- liyh.log console -->
  <appender name="B2B_CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%-5p]-%m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
    <!-- 屏蔽json-lib产生的日志 -->
    <filter class="org.apache.log4j.varia.StringMatchFilter">
        <param name="StringToMatch" value="has no write method. SKIPPED." />
        <param name="AcceptOnMatch" value="false" />
    </filter>
    <filter class="org.apache.log4j.varia.StringMatchFilter">
        <param name="StringToMatch" value="Tried to assign property" />
        <param name="AcceptOnMatch" value="false" />
    </filter>
  </appender>
  <!-- liyh.log console -->
  
  <!-- liyh AsyncAppender -->
  <appender name="AsyncAppender" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="0"/>
    <appender-ref ref="B2B_FILE"/>
    <appender-ref ref="B2B_CONSOLE"/>
  </appender>
  <!-- liyh AsyncAppender -->
  
  <!-- liyh logger -->
  <logger name="net.fusen.b2b" additivity="false">
		<level value="debug"></level>
		<appender-ref ref="AsyncAppender" />
  </logger>
  <!-- liyh logger -->

  <root>
    <priority value="debug"/>
    <appender-ref ref="AsyncAppender"/>
  </root>
  
</log4j:configuration>
