<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<!-- 1.基本配置，数据库连接信息 -->
	<property name="dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>
	<!--
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/itcastoa0720</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
	-->
	<!-- 2.其它配置 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>

	<!-- 3.导入映射文件
		<mapping resource="cn/User.hbm.xml" />
	-->
	<mapping resource="cn/itcast/oa/domain/User.hbm.xml" />
	<mapping resource="cn/itcast/oa/domain/Role.hbm.xml" />
	<mapping resource="cn/itcast/oa/domain/Department.hbm.xml" />

</session-factory>
</hibernate-configuration>